<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="peng.springframework.bean.UserDao" init-method="initMethod" destroy-method="destroyMethod" />

    <bean id="userServiceAware" class="peng.springframework.bean.UserServiceAware">
        <property name="uId" value="10001"/>
        <property name="company" value="原始：啦啦啦"/>
        <property name="location" value="origin: shanghai"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>