<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="peng.springframework.bean.UserDao"/>

    <bean id="userService" class="peng.springframework.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="啦啦啦"/>
        <property name="location" value="origin: shanghai"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="peng.springframework.common.TestBeanPostProcessor"/>
    <bean class="peng.springframework.common.TestBeanFactoryPostProcessor"/>

</beans>